@charset "utf-8";

/* Noto Sans 字型 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,400,700,900&display=swap&subset=chinese-traditional');


/*-----------------------------------------------------------------------------------*/
/*  基本樣式
/*-----------------------------------------------------------------------------------*/
html {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans TC', Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
    overflow-x: hidden;
    background-color: #f3f4f8;
    font-size: 16px;
    font-weight: 400;
}

body,
li,
address {
    line-height: 24px;
}

input,
button,
select,
textarea {
    font-family: 'Noto Sans TC', Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
    display: block;
    outline: none;
    margin: 0 auto;
}

a {
    color: #5ac832;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

a:hover,
a:focus {
    color: #5ac832;
    text-decoration: none;
}

.bg-green {
    background-color: #5ac832 !important;
}

a.bg-green:hover, a.bg-green:focus,
button.bg-green:hover,
button.bg-green:focus {
    background-color: #5ac832 !important;
}

.text-green {
    color: #5ac832; 
}


.bg {
    max-width: 100%;
    min-height: 100%;
}

.bg img {
    display: none;
    max-width: 100%;
    height: auto;
}

.bg img:nth-child(1) {
    display: block;
}

.bg img:nth-child(2) {
    display: none;
}

@media (max-width: 768px) {
    .bg img:nth-child(1) {
        display: none;
    }
    .bg img:nth-child(2) {
        display: block;
    }
}



.navbar .navbar-brand {
    position: relative;
}

@media (min-width: 576px) {
    .navbar .navbar-brand {
        margin: 0 auto;
    }
}

.navbar .navbar-brand i {
    position: absolute;
    font-size: 22px;
    color: #fff;
    top: 10px;
}

.navbar .navbar-brand i:hover {
    color: #fff;
}

.navbar .navbar-brand img {
    max-width: 200px;
    display: inline-block;
    margin-left: 35px;
}

.wrapper {
    max-width: 930px;
    margin: 0 auto;
}

.head {
    padding-top: 0px;
    padding-bottom: 0px;
}

@media (min-width: 768px) {
    .head {
        padding-top: 60px;
        padding-bottom: 60px; 
    }
}


#accordion {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#accordion .question {
    position: relative;
    width: 100%;
    padding: 15px 45px 15px 30px;
    background-color: #5ac832;
    color: #fff;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    overflow: hidden;
    display: block;
    border: 0;   
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}

/* 左色塊 */
#accordion .question::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background-color: #4ba629;
}

/* 箭頭 */
#accordion .question::after {
    content: "";
    position: absolute;
    right: 20px;
    top: calc(50% - 7px);
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}



#accordion .question.collapsed {
    color: #000;
    background-color: #fff;
}

#accordion .question.collapsed:hover {
    color: #fff;
    background-color: #5ac832;
}

#accordion .question.collapsed::after {
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#accordion .question .title {
    width: 100%;
}
#accordion .question .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}


#accordion .ans-content {
    padding: 15px 30px;
    background-color: #f8f8f8;
}

@media (min-width: 768px) {
    #accordion .ans-content {
        padding: 45px 0px;
    }
}

#accordion .ans-content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.1);
}

#accordion .ans-content p {
    font-weight: 400;
    letter-spacing: 1px;
}

#accordion .ans-content a {
    position: relative;
}
#accordion .ans-content a::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: #5ac832;
}

.apple-xl {
    display: none;
}

.apple-sm {
    display: block;
}

@media (min-width: 768px) {
    .apple-xl {
        display: block;
    }

    .apple-sm {
        display: none;
    }
}

.android-xl {
    display: none;
}

.android-sm {
    display: block;
}

@media (min-width: 768px) {
    .android-xl {
        display: block;
    }

    .android-sm {
        display: none;
    }
}



.fb {
    display: none;
}

@media (min-width: 768px) {
    .fb {
        display: block;
    }
}


.toTop-arrow {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    content: "";
    bottom: 15px;
}
.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
}
.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}

